@charset "utf-8";

/*全体の設定*/
body {
	color: #333333;
	margin: 0px;
	padding: 0px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 16px;
	line-height: 2;
}

img {
	border: none;
}

a {
	color: #0366D6;
}

a:hover {
	text-decoration: none;
}

/*コンテナ*/
#container {
	max-width: 980px;
	margin: auto;
}

/*ヘッダー*/
header {
	width: 90%;
	margin: auto;
}

header h1 {
	font-size: 20px;
	font-weight: normal;
}

.icons {
	width: 25%;
	float: left;
}

.pic {
	width: 75%;
	max-width: 400px;
	float: right;
}

.pic img {
	width: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*タイトル*/
.title {
	margin-bottom: 50px;
}

.title h1 {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	line-height: 1;
}

.title p {
	font-size: 20px;
	letter-spacing: 0.1em;
	color: #ff4f50;
	text-align: center;
}

/*メニュー*/
nav ul{
	width: 100%;
	/*height: 40px;*/
	background-color: #eeeeee;
	display: table;
	margin: auto;
	text-align: center;
	padding: 0;
	z-index: 20;
}

nav li{
	display: table-cell;
	min-width: 50px;
}

nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #333333;
	padding-bottom: 5px;
}

nav a:hover {
	color: grey;
	border-bottom: 3px solid #ffc0cb;
}

nav a.current {
	font-weight: bold;
	border-bottom: 3px solid #ff4f50;
}

.fixed {
	width: 90%;
	max-width: 882px;
	margin: auto;
	position: fixed;
	top: 0px;
}

/*ジャンプリンク*/
a#news, a#sec1, a#sec2, a#sec3 {
	color: #333333;
}

/*メインコンテンツ*/
.main {
	width: 90%;
	margin: auto;
	z-index: 10;
}

.mainfixed {
	margin-top: 140px;
}

.main h2 {
	font-size: 180%;
}

.main p {
	margin: 1em 0em;
}

/*ニュース*/
section {
	margin-top: 50px;
}

div.newinfo {
	border-bottom: 1px solid grey;
}

#new dl {
	overflow: auto;	/*高さ指定を超えるとスクロールが出る*/
	height: 150px;
	margin: 0px 20px;
}

#new dt {
	font-weight: bold;
	float: left;
}

#new dd {
	padding-left: 8em;
}

#new dd img {
	vertical-align: middle;
}

#sec1, #sec2, #sec3{
	padding-top: 60px;
}

ul.profile1 {

	list-style-type: none;
	font-weight: bold;
}

.profile1_list:before {
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #ff4f50;
	border-radius: 50%;
	position: relative;
	top: 1px;
	margin-right: 5px;
}

ul.profile2 {
	list-style-type: none;
	font-weight: normal;
	margin-bottom: 20px;
}

ol.profile3 {
	font-weight: normal;
	margin-bottom: 20px;
}

#contact2 {
	margin: 0px 20px;
}

/*PAGE TOP*/
#pagetop {
	padding-top: 15px;
}
#pagetop a {
	font-size: 10px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #ff4f50;
	width: 12em;
	display: block;
	float: right;
	letter-spacing: 0.1em;
}

/*フッター*/
footer {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 0.1em;
}

footer a {
	color: #333333;
	text-decoration: none;
}
